

<!--Acá se define cuantos productos se muestran, específicamente en row-cols-: 
- row-cols- = 1 (1 en pantallas pequeñas)
- row-cols-md = 3 (3 en pantallas medianas)
- row-cols-lg = 3 (3 en pantallas largas y grandes)
- g-4: espacio uniforme entre productos -->
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4 product-grid">



  <div class="col" *ngFor="let product of products">
    <div class="card h-100 shadow-sm">
      <div class="card-img-container position-relative">
        <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
        <span class="badge categoria-badge">{{ product.categoria }}</span>
        <span class="badge sucursal-badge">{{ product.sucursal }}</span>
      </div>
      <div class="card-body d-flex flex-column text-center">
        <h5 class="card-title text-truncate" title="{{ product.name }}">{{ product.name }}</h5>
        <p class="card-price">{{ product.price | currency: 'CLP':'symbol':'1.0-0' }}</p>
        <button (click)="goToProduct(product.id)" class="btn btn-primary mt-auto">Ver Producto</button>
      </div>
    </div>
  </div>

</div>
